.formulario {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 50px;
}

.formulario form{
    flex: 1;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 36px 95px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}