.lista-suspensa {
    margin: 24px 0px;
}

.lista-suspensa label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.lista-suspensa select{
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.06);
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 18px;
    box-sizing: border-box; 
}